<div class="logo">
  <i nz-icon nzType="twitter" nzTheme="outline" nzSize="large"></i>
</div>
<ul nz-menu [nzMode]="'vertical'">
  <li nz-submenu nzTitle="Home" nzIcon="home"></li>
  <li nz-submenu nzTitle="Explore" nzIcon="number"></li>
  <li nz-submenu nzTitle="Notifications" nzIcon="bell"></li>
  <li nz-submenu nzTitle="Messages" nzIcon="mail"></li>
  <li nz-submenu nzTitle="Bookmarks" nzIcon="setting"></li>
  <li nz-submenu nzTitle="List" nzIcon="bars"></li>
  <li nz-submenu nzTitle="Profile" nzIcon="user"></li>
  <li nz-submenu nzTitle="More" nzIcon="ellipsis"></li>
  <li>
    <button nz-button nzType="primary" [nzSize]="'large'" class="btn-tweet">
      Tweet
    </button>
  </li>
</ul>
<div class="current-user">
  <div
    nz-button
    nzType="primary"
    nz-popover
    [nzPopoverTitle]="currentUserTemplate"
    [(nzVisible)]="visible"
    nzPopoverTrigger="click"
    [nzPopoverContent]="contentTemplate"
    [nzPopoverPlacement]="'topLeft'"
    class="cover-current"
  >
    <nz-avatar
      [nzSize]="40"
      nzSrc="https://avatars2.githubusercontent.com/u/37446552?s=460&u=8b963624889936e0c91bfb32bb11e88037fdee09&v=4"
    ></nz-avatar>
    <span>
      <div>Nguyen Trong Dai</div>
      <div>@ngtrdai197</div>
    </span>
    <i nz-icon nzType="down" nzTheme="outline"></i>
  </div>
</div>

<ng-template #currentUserTemplate>
  <div class="cover-current">
    <nz-avatar
      [nzSize]="40"
      nzSrc="https://avatars2.githubusercontent.com/u/37446552?s=460&u=8b963624889936e0c91bfb32bb11e88037fdee09&v=4"
    ></nz-avatar>
    <span>
      <div>Nguyen Trong Dai</div>
      <div>@ngtrdai197</div>
    </span>
    <i nz-icon nzType="check" nzTheme="outline"></i>
  </div>
</ng-template>

<ng-template #contentTemplate>
  <p>Add an existing account</p>
  <p>Log out @ngtrdai197</p>
</ng-template>
